llama-index-core==0.12.52.post1
llama-index-vector-stores-faiss==0.4.0
llama-index-embeddings-dashscope==0.3.0
llama-index-readers-file==0.4.11
llama-index-llms-dashscope==0.4.1
llama-index-readers-dashscope==0.3.0
llama-index-llms-openai-like==0.4.0
llama-index-embeddings-openai-like==0.2.0

dashscope==1.22.2
docx2txt==0.9
openpyxl==3.1.5
pymupdf4llm==0.2.6
openai==1.90.0
